#address-container-header {
    background-color: var(--light-blue);
    color: var(--white);
    height: 72px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
}

#address-container-header-text {
    color: var(--white);
}

#nav-item {
    background-color: none;
    border: none;
    height: 36px;
}

#bootstrap-overrides a:hover {
    /* text-decoration: underline; */
    border-bottom: 4px solid white;
    border: none;
}

#bootstrap-overrides a {
    color: #99D2E8;
    border: none;
    height: 36px;
}

/* #address-accordion {
    border: none !important;
} */

#bootstrap-overrides .card-header {
    border-bottom: 0px;
}

.nav-link {
    padding: 0 !important;
    margin-right: 0 !important;
    text-align:left !important;
    height: 21px !important;
}

#bootstrap-overrides .nav-link:not(.active):hover {
    color: #CBE4EC;
}

#bootstrap-overrides .nav-link.active {
    background-color: none;
    border-bottom: 2px solid var(--white);
    color: var(--white);
}

#bootstrap-overrides .nav-item:hover {
    color: #CBE4EC
}

#bootstrap-overrides .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

#bootstrap-overrides ul {
    list-style-type: circle;
}

#bootstrap-overrides .dropdown-item {
    color: var(--sixty-percent-gray);
}

#bootstrap-overrides .dropdown-item:active {
    background-color: var(--light-blue-ten-percent) !important;
    color: var(--black);
}

#bootstrap-overrides .dropdown-item:hover {
    background-color: var(--light-blue-five-percent);
    color: var(--eighty-percent-gray);
}

#bootstrap-overrides .dropdown-menu {
    margin-top: 12px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border: none;
}

#bootstrap-overrides .dropdown-divider {
    border: none;
    height: 1px;
    background-color: var(--thirty-percent-gray);
    margin-top: 0px;
    margin-bottom: 0px;
    /* width: 136px;
    margin-left: 12px */
}

#bootstrap-overrides .dropdown-item h5 {
    padding-left: 12px;
    line-height: 36px;
}

.current-dropdown-item {
    color: var(--black);
    font-weight: 500 !important;
    background-color: var(--light-blue-ten-percent);
}

.dropdown-toggle {
    background-color: transparent !important;
    height: 16px;
}

#address-accordion-toggle {
    background-color: var(--white);
    height: 53px;
}

#address-accordion-toggle:hover {
    background-color: #F2F9FC !important;
}

#address-accordion-toggle.collapse {
    background-color: var(--white);
}

.report-list-item-label {
    font-weight: 600;
    color: var(--black)
}

.address-expand-icon {
    /* margin-left: 40px !important; */
}

#address-card {
    /* border: none; */
    /* border-top: 1px solid rgba(0,0,0,.125); */
    border-radius: 0;
}

#address-card:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#address-card-body {
    padding: 0;
}

#bootstrap-overrides #report-accordion-toggle {
    height: 72px;
    background-color: var(--white);
}

#report-card {
    background-color: var(--white);
    border: none;
    border-top: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
}

.report-divider {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 1px;
    background-color: var(--thirty-percent-gray);
    width: 518px;
    /* text-align: center; */
}

#bootstrap-overrides li:first-child {
    margin-top: 12px;
  }

#bootstrap-overrides li:not(:first-child) {
    margin-top: 8px;
  
  }
  
  #bootstrap-overrides li {
    margin-left: 0px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    color: var(--seventy-percent-gray);
  }

#report-card-body {
    padding-top: 0px;
}

#report-accordion-toggle {
    background-color: var(--white);
}

#report-accordion-toggle:hover {
    background-color: #F2F9FC !important;
}

#report-accordion-toggle:focus {
    background-color: pink !important; 
}
