#overview-container {
    border-radius: 5px;
    border:none;
}

#overview-container-header {
    background-color: var(--light-blue);
    height: 58px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
}

#overview-container-body {
    border: solid;
    border-width: 1px;
    border-top: none;
    border-color: var(--thirty-percent-gray);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 69px;
}

.overview-header-divider {
    width: 2px;
    height: 16px; 
    background-color: var(--white);
    display: inline-block;
    vertical-align: middle;
    border-radius: 1px;
}

.overview-body-divider {
    width: 2px;
    height: 23px;
    background-color: var(--thirty-percent-gray);
    display: inline-block;
    vertical-align: middle;
    border-radius: 1px;
}