#overview-container-header {
    border-bottom: none;
    background-color: var(--light-blue);
    color: var(--white);
}

#overview-container-body {
    padding-bottom: 0px;
}

#overview-container-footer {
    background: none;
    border-top: none;
    height: 44px;
}

#address-container-header {
    background-color: var(--light-blue);
    color: var(--white);
}

#address-container-header-text {
    color: var(--white);
}

#nav-container {
    background-color: var(--light-blue);
}

#nav-item {
    background-color: var(--light-blue);
    border: none;
    height: 36px;
}

#bootstrap-overrides a:hover {
    /* text-decoration: underline; */
    border-bottom: 4px solid white;
    border: none;
}

#bootstrap-overrides a {
    color: #99D2E8;
    border: none;
    height: 36px;
}

#bootstrap-overrides .card-header {
    border-bottom: 0px;
}

#bootstrap-overrides .nav-link.active {
    /* text-decoration: underline; */
    background-color: var(--light-blue);
    border: none;
    border-bottom: 4px solid white;
    color: var(--white);
}

#address-accordion-toggle {
    background-color: var(--white);
}

#address-accordion-toggle:hover {
    background-color: #F2F9FC;
}

#address-accordion-toggle.collapse {
    background-color: var(--white);
}

#address-accordion {
    border: none;
}

#address-card {
    border: none;
    border-top: 1px solid rgba(0,0,0,.125);
}

#address-card-body {
    padding: 0;
}

#report-card {
    background-color: var(--white);
    border: none;
    border-top: 1px solid rgba(0,0,0,.125);
}

#report-card-body {
    padding-top: 0px;
}

#report-accordion-toggle {
    background-color: var(--white);
}